---
import Layout from '@/layouts/Layout.astro'
import { getDoubanMusic } from '@/api/get-douban-music'
import IndexToggleButton from '@/components/IndexToggleButton'
import MusicList from '@/components/MusicList/index.astro'

const musicList = await getDoubanMusic()

const albumCount = musicList.length
const songCount = musicList.reduce((acc, item) => acc + item.songItemList.length, 0)
---

<Layout title="Douban Music">
	<main class="py-8">
		<section
			class="container mx-auto flex max-w-screen-lg flex-wrap items-center px-6 pb-12 pt-4 lg:px-0"
		>
			<section class="mb-12 flex w-full items-center justify-between">
				<div>
					<h2 class="text-3xl font-bold tracking-tighter">音乐列表</h2>
					<span class="text-xs text-gray-500">{albumCount} 张专辑，{songCount} 首歌曲</span>
				</div>
				<IndexToggleButton client:only="react" />
			</section>
			<MusicList musicList={musicList} />
		</section>
	</main>
</Layout>
