---
import ClearButton from '@/components/ClearButton'
---

<footer
	class="container mx-auto flex max-w-screen-lg flex-wrap items-center px-6 pb-32 pt-4 lg:px-0"
>
	<div class="text-center text-sm text-gray-500">
		Copyright © 2025 by
		<a href="https://github.com/lynnjinjie/douban-music" target="_blank" class="underline">JJJ</a>
		<span class="ml-2 text-gray-500"
			>Data from
			<a href="https://music.douban.com/top250" target="_blank" class="underline">Douban</a>
		</span>
	</div>
	<ClearButton client:visible />
</footer>
