<footer
	class="container mx-auto flex max-w-screen-lg flex-wrap items-center px-6 pb-32 pt-4 lg:px-0"
>
	<div class="text-center text-sm text-gray-500">
		Copyright © 2024 by
		<a href="https://github.com/lynnjinjie" target="_blank" class="underline">JJJ</a>
	</div>
</footer>
