---
import { ViewTransitions } from 'astro:transitions'

const { title } = Astro.props
---

<meta charset="UTF-8" />
<meta name="description" content="Astro description" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/music.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content="Douban Music Top250 Playlist." />
<title>{title}</title>
<ViewTransitions />

<script is:inline>
	document.addEventListener('astro:page-load', () => {
		const theme = (() => {
			if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
				return localStorage.getItem('theme')
			}
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				return 'dark'
			}
			return 'light'
		})()

		if (theme === 'light') {
			document.documentElement.classList.remove('dark')
		} else {
			document.documentElement.classList.add('dark')
		}

		// window.localStorage.setItem('theme', theme)
	})
</script>
