---
import { ViewTransitions } from 'astro:transitions'
import Header from '@/components/Header.astro'
import Player from '@/components/Player'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/music.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Douban Music Top250 Playlist." />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="flex h-screen flex-col">
			<Header />
			<div class="flex-1 overflow-auto">
				<slot />
			</div>
			<div id="audio-player">
				<Player client:load transition:persist="player" />
			</div>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
</style>
